*.pyc

jsons/*
txt/*
variable_sets/*
scripts/*
templates/*

# Workspace settings and virtual environments
**.vscode**
**venv**
# Framework log files
***.log**

user_variables.py
sandbox_script.py

!variable_sets/template.py
!scripts/template.py
!scripts/change_pythonpath.py